<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'base.html' %}
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquam aspernatur atque eum beatae mollitia corporis, delectus consectetur minima repellat quisquam laboriosam enim aliquid nobis repudiandae repellendus dolore corrupti cupiditate illo quibusdam recusandae deserunt sequi dignissimos. Doloribus placeat mollitia nemo delectus aperiam incidunt nobis consequuntur dolore unde repellat, iusto id ut autem sequi fuga odio cupiditate iste, sed quidem dolores rem, veniam recusandae facere. Delectus modi repellat temporibus laudantium nihil, tempora soluta dicta eius doloribus fugiat aliquam, aut corporis fugit numquam! Voluptatibus possimus earum quam nemo facere sed fugiat molestias cum! Accusantium voluptatibus nisi qui esse voluptates deserunt quas modi.</p>
</body>
</html>